.wt-form {
	padding: 40px 0;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 50% 50%;
	text-align: center;
	@include breakpoint(md) {
		padding: 60px 0;
	}
	@include breakpoint(lg) {
		background-size: cover;
	}
}

.wt-form-title {
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
	@include breakpoint(sm) {
		font-size: 30px;
		line-height: 38px;
	}
	@include breakpoint(md) {
		font-size: 38px;
		line-height: 46px;
	}
}

.wt-form-description {
	margin-top: 20px;
	font-size: 18px;
	line-height: 26px;
	@include breakpoint(md) {
		margin-top: 30px;
	}
}

.wt-form-fields {
	margin-top: 30px;
	@include breakpoint(md) {
		margin-top: 35px;
	}
	input:not([type="submit"]), textarea, select{
		width: 100%;
	}
	input:not([type="submit"]), select {
		background-color: #ffffff;
		height: 55px;
		border: 2px solid #ffffff;
		padding: 0 20px;
		border-radius: 10px;
		margin-bottom: 20px;
		&:focus {
			border-color: $color-font-secondary;
		}
	}
	select {
		padding-right: 0!important;
	}
	input[type="submit"] {
		margin-top: 15px;
		@include breakpoint(md) {
			margin-top: 20px;
		}
	}
	.wpcf7 {
		@include breakpoint(768px, 991px) {
			max-width: 570px;
			margin: 0 auto;
		}
		@include breakpoint(md) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	.wpcf7-form-control-wrap {
		@include breakpoint(md) {
			display: inline-block;
			width: 33.3333333%;
			padding: 0 15px;
		}
	}
}