.wt-slider-banners {
	padding: 40px 0;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 50% 50%;
	text-align: center;
	@include breakpoint(md) {
		padding: 60px 0;
	}
	@include breakpoint(lg) {
		background-size: cover;
	}
}

.wt-slider-banners-title {
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
	@include breakpoint(sm) {
		font-size: 30px;
		line-height: 38px;
	}
	@include breakpoint(md) {
		font-size: 38px;
		line-height: 46px;
	}
}

.wt-slider-banners-description {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	margin-top: 10px;
	span {
		font-weight: 600;
	}
}

.wt-slider-banners-head {
	margin-bottom: 45px;
	@include breakpoint(md) {
		margin-bottom: 60px;
	}
}

.wt-slider-banners-content {
	width: 100%;
	text-align: left;
	@include breakpoint(sm) {
		width: 50%;
	}
	@include breakpoint(md) {
		font-size: 18px;
	}
}

.wt-slider-banners-image {
	width: 100%;
	text-align: center;
	@include breakpoint(mobile) {
		margin-bottom: 30px;
	}
	@include breakpoint(sm) {
		width: 50%;
	}
	img {
		display: inline-block!important;
		width: auto!important;
		@include breakpoint(mobile) {
			max-height: 250px;
		}
		@include breakpoint(md) {
			max-height: 510px;
		}
	}
}

.wt-slider-banners-left {
	.wt-slider-banners-content {
		float: right;
		padding-top: 0;
	}
	.wt-slider-banners-image {
		float: left;
		@include breakpoint(sm) {
			text-align: right;
			padding-right: 50px;
		}
	}
}

.wt-slider-banners-right {
	.wt-slider-banners-content {
		float: left;
		padding-top: 0;
	}
	.wt-slider-banners-image {
		float: right;
		@include breakpoint(sm) {
			text-align: left;
			padding-left: 50px;
		}
	}
}

.wt-slider-banners-full {
	.wt-slider-banners-content {
		width: 100%;
		@include breakpoint(sm) {
			&-left {
				float: left;
				width: 50%;
			}
			&-right {
				float: right;
				width: 50%;
			}
		}
	}
}

.wt-slider-banners-content-title {
	font-size: 24px;
	line-height: 32px;
	@include breakpoint(md) {
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 40px;
	}
}

.wt-slider-banners-content-description {
	ul li:before {
		@include breakpoint(md) {
			top: 8px;
		}
	}
}

.wt-slider-banners-wrap {
	position: relative;
	.owl-dots {
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
	}
	.owl-dot {
		display: inline-block;
		vertical-align: middle;
	}
	.owl-dot span {
		background: #c2c1c4;
		display: block;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		margin: 0 5px;
	}
	.owl-dot.active span {
		background: $color-font-green;
	}
	.owl-prev, .owl-next {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		opacity: 0.4;
		width: 22px;
		height: 40px;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
	}
	.owl-prev {
		background-image: url(img/svg/arrow-prev.svg);
		background-repeat: no-repeat;
		left: 10px;
		@include breakpoint(lg) {
			left: 20px;
		}
	}
	.owl-next {
		background-image: url(img/svg/arrow-next.svg);
		background-repeat: no-repeat;
		right: 10px;
		@include breakpoint(lg) {
			right: 20px;
		}
	}
}