.gallery {
  padding: 40px 0 10px;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}


.gallery-description {
  margin-bottom: 40px;
}

.gallery-col {
  text-align: center;
  @include small-screen {
    text-align: left;
  }

  img {
    display: inline-block;
  }
}

.gallery-albums-title {
  margin-top: 8px;
  font-weight: 500;
}

.gallery-single {
  padding-bottom: 30px;
}
