.btn {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	user-select: none;
	border: none;
	transform: skewX(-15deg);
	font-weight: 500;
	@include button-size(10px, 65px, 21px, 32px, 10px);
	@include breakpoint(mobile) {
		padding-left: 35px;
		padding-right: 35px;
	}
	@include breakpoint(sm) {
		font-size: 24px;
	}
	&:focus {
		outline: 0;
	}
}

input.btn {
	font-style: normal;
}

.btn-default {
	color: $color-font-main;
	background: rgb(238,173,11);
	background: -moz-linear-gradient(top, rgba(238,173,11,1) 0%, rgba(242,202,16,1) 50%, rgba(238,173,11,1) 100%);
	background: -webkit-linear-gradient(top, rgba(238,173,11,1) 0%,rgba(242,202,16,1) 50%,rgba(238,173,11,1) 100%);
	background: linear-gradient(to bottom, rgba(238,173,11,1) 0%,rgba(242,202,16,1) 50%,rgba(238,173,11,1) 100%);
	background-size: auto 200%;
	background-position: left bottom;
	&:hover {
		background-position: left top;
	}
	&:active {
		background-position: left bottom;
	}
}
