.wt-dropdown {
	position: absolute;
	z-index: 99;
	top: 100%;
	left: 50%;
	margin-top: 12px;
	transform: translateX(-50%);
	background-color: #ffffff;
	padding: 12px 15px 12px;
	font-size: 13px;
	line-height: 18px;
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
	
	&::before {
		position: absolute;
		content: '';
		top: -6px;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #ffffff;
	}
}

.wt-dropdown-close {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 5px;
	background: transparent;
	border: none;
	
	&:active {
		opacity: 0.5;
	}
	
	img {
		width: 8px;
		height: 8px;
	}
}

.wt-dropdown-title {
	text-align: left;
	color: #868686;
	
	span {
		display: block;
		white-space: nowrap;
		color: #252525;
		font-weight: 600;
	}
}

.wt-dropdown-action {
	display: flex;
	align-items: center;
	margin-top: 10px;
	
	a {
		color: inherit;
	}
}

.wt-dropdown-success {
	padding: 6px 12px;
	font-weight: 600;
	border-radius: 3px;
	background: rgb(238, 173, 11);
	background: linear-gradient(to bottom, rgba(238, 173, 11, 1) 0%, rgba(242, 202, 16, 1) 50%, rgba(238, 173, 11, 1) 100%);
	background-size: auto 200%;
	background-position: left bottom;
	
	&:hover {
		background-position: left top;
	}
	
	&:active {
		background-position: left bottom;
	}
}

.wt-dropdown-another {
	margin-left: 10px;
	white-space: nowrap;
	text-decoration: underline;
	
	&:hover {
		text-decoration: none;
	}
}