.wt-pagination {
	font-size: 30px;
	font-weight: 600;
	color: #c4c3c3;
	margin-top: 15px;
	@include breakpoint(md) {
		margin-top: 30px;
	}
}

.nav-links {
	letter-spacing: -0.36em;
}

.page-numbers {
	display: inline-block;
	padding: 5px 18px;
	border-radius: 10px;
	transform: skewX(-15deg);
	letter-spacing: normal;
	color: inherit;
	margin: 0 2.5px;
	&.current {
		color: $color-font-main;
		background: #eead0b;
		background: -moz-linear-gradient(top, #eead0b 0%, #f2ca10 50%, #eead0b 100%);
		background: -webkit-linear-gradient(top, #eead0b 0%,#f2ca10 50%,#eead0b 100%);
		background: linear-gradient(to bottom, #eead0b 0%,#f2ca10 50%,#eead0b 100%);
		background-size: auto 200%;
	}
}

a.page-numbers:hover {
	background-color: #f5f5f5;
}