.wt-sticky {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 999;
	top: -65px;
	background: rgb(10,70,161);
	background: -moz-linear-gradient(top, rgba(10,70,161,1) 0%, rgba(29,77,150,1) 100%);
	background: -webkit-linear-gradient(top, rgba(10,70,161,1) 0%,rgba(29,77,150,1) 100%);
	background: linear-gradient(to bottom, rgba(10,70,161,1) 0%,rgba(29,77,150,1) 100%);
	height: 65px;
	line-height: 65px;
	transition: top 0.5s ease;
	&-active {
		top: 0;
		.admin-bar & {
			top: 46px;
		}
		@include breakpoint(783px, 0) {
			.admin-bar & {
				top: 32px;
			}
		}
	}
	.wt-burger {
		width: 55px;
	}
	.wt-burger-icon {
		img {
			width: 20px;
			height: 20px;
		}
		padding: 5px;
	}
	.wt-burger-text {
		display: none;
	}
}

.wt-sticky-logo {
	display: table-cell;
	vertical-align: middle;
	img {
		width: 85px;
		max-height: 38px;
		@include breakpoint(lg) {
			width: 120px;
			max-height: 50px;
		}
	}
}

.wt-sticky-number {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	text-align: right;
	font-size: 16px;
	font-weight: 600;
	a {
		color: $color-font-yellow;
	}
	a:hover {
		color: #ffffff;
	}
}

.wt-sticky-navigation {
	ul {
		display: table;
		width: 100%;
		min-height: 50px;
	}
	li {
		display: table-cell;
		vertical-align: middle;
		min-width: 100px;
	}
	a {
		display: block;
		text-align: center;
		color: #ffffff;
		font-size: 16px;
		font-weight: 500;
		@include breakpoint(lg) {
			font-size: 18px;
		}
	}
	a:hover {
		background-color: #1f57aa;
		color: #ffffff;
	}
	.current_page_item a,
	.current-menu-item a {
		background-color: #1f57aa;
		color: $color-font-yellow;
	}
}