.wt-whatsapp {
  position: fixed;
  top: 75px;
  right: -50px;
  z-index: 100;
  transition: right 0.3s ease;

  @include breakpoint(md) {
    display: none !important;
  }

  &-active {
    right: 0;
  }

  a {
    display: block;
    width: 45px;
    height: 45px;
    background-image: url(img/svg/whatsapp.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30px 30px;
    border-radius: 5px 0 0 5px;

    @include background-opacity(#25d366, 0.9);
  }
}
