.breadcrumbs {
  padding: 15px 0;
  background-color: #f9f9f9;
  font-size: 14px;

  li {
    display: inline-block;
    vertical-align: middle;
  }
  li+li:before {
    content: '>';
    padding: 0 10px;
  }
  a {
    text-decoration: none;
  }
}
