.side-menu-lock {
  overflow: hidden;
  height: 100%;
}

.side-menu-overlay {
  opacity: 0;
  position: fixed;
  z-index: 1000;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include background-opacity(#000000, 0.5);
  transition: opacity .3s, width 0s .3s, height 0s .3s;
  cursor: pointer;
  &.active {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity .3s;
  }
}

.side-menu {
  display: block;
  position: absolute;
  z-index: 1001;
  max-width: 300px;
  padding: 30px;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: transform .3s;
  overflow-y: auto;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  &-left {
    left: 0;
    transform: translateX(-100%);
  }
  &-right {
    right: 0;
    transform: translateX(100%);
  }
  &-left.active, &-right.active {
    transform: translateX(0);
  }
}

.customize-support {
  .side-menu {
    padding-top: 76px;
  }
}

.side-menu-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.side-menu-brand {
  text-align: left;
}

.side-menu-logo {
  img {
    max-height: 95px;
    display: inline-block;
  }
}

.side-menu-title {
  margin-top: 5px;
  a {
    font-size: 24px;
    font-weight: 500;
  }
}

.side-menu-navigation {
  padding: 45px 0;
  li+li {
    margin-top: 15px;
  }
  a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
  }
}

.side-menu-phone {
  a {
    font-size: 21px;
  }
  span {
    color: #85be07;
    font-weight: 500;
  }
}

.side-menu-email {
  margin-top: 8px;
}

.side-menu-callback {
  margin-top: 30px;
}
