.wt-field-rating {
  @include clearfix;
}
.wt-field-rating .wt-field-item {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  &:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../img/svg/star-default.svg);
    top: 0;
    left: 0;
  }
  &-checked:before {
    background-image: url(../img/svg/star-checked.svg);
  }
  input {
    opacity: 0;
  }
}
.wt-field-rating .wt-field-item+.wt-field-item {
  margin-left: 4px;
}
