body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #1e1e1e;
}

a {
  color: #1e1e1e;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
  outline: 0;
}

.site-page-header {
    text-align: left;
}

.site-page-title {
  padding: 20px 0;
  background-color: #f0f0f0;

  h1 {
    font-size: 24px;
    font-weight: 500;
  }
}
