body {
    font-family: 'Neucha', cursive;
    position: relative;
    background: url(../img/404/pattern.png);
}
.lost {
    position: fixed;
    width: 100%;
    height: 100%;
}
.lost > div {
    position: absolute;
    width: 404px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -202px;
    margin-top: -250px;
    text-align: center;
}
.lost img {
    width: 100%;
    margin-left: -50px;
}
.lost h1 {
    font-size: 60px;
    margin: 15px 0 0 0;
    color: #262626;
}
.lost p {
    margin: 0;
    font-size: 24px;
    color: #262626;
}
.lost a {
    color: #262626;
}