.wt-sidebar-menu-navigation {
	li {
		position: relative;
		padding-left: 15px;
	}
	a {
		display: block;
		color: $color-font-main;
	}
	li+li {
		margin-top: 5px;
	}
	li:before {
		position: absolute;
		content: '';
		width: 6px;
		height: 6px;
		top: 8px;
		left: 0;
		border-radius: 50%;
		background-color: $color-font-main;
	}
	li.current-menu-item:before {
		background-color: $color-font-green
	}
	li.current-menu-item > a {
		color: $color-font-green;
	}
	a:hover {
		color: $color-font-green;
	}
	li > ul {
		margin-top: 5px;
	}
}

.wt-sidebar-menu-double {
	ul {
		margin-left: -5px;
		margin-right: -5px;
		@include clearfix;
	}
	a {
		background-color: darken(#f5f5f5, 5%);
		padding: 5px;
		text-align: center;
		border-radius: 3px;
		margin-top: 3px;
		font-size: 14px;
		font-weight: 600;
	}
	li {
		width: 50%;
		padding: 0 5px;
		display: inline-block;
		vertical-align: top;
		margin-top: 5px;
	}
	li+li {
		margin-top: 5px;
	}
	li:before {
		display: none;
	}
}