.wt-sidebar-testimonial {
	.btn {
		width: 100%;
	}
}

.wt-sidebar-testimonial-item {
	text-align: center;
	img {
		display: inline-block;
		margin-bottom: 10px;
	}
}

.wt-sidebar-testimonial-name {
	font-weight: 600;
	margin-bottom: 10px;
}

.wt-sidebar-testimonial-message {
	margin-bottom: 20px;
}