.wt-contacts-label {
	position: relative;
	font-weight: 500;
	margin-bottom: 15px;
	color: $color-font-secondary;
	padding-left: 30px;
	&::before {
		position: absolute;
		content: '';
		left: 0;
		top: 50%;
		background-size: cover;
	}
	.wt-contacts-block-address &::before {
		width: 18px;
		height: 25px;
		margin-top: -12.5px;
		background-image: url(img/svg/contacts-address.svg);
	}
	.wt-contacts-block-phones & {
		padding-left: 40px;
	}
	.wt-contacts-block-phones &::before {
		width: 24px;
		height: 24px;
		margin-top: -12px;
		background-image: url(img/svg/contacts-phone.svg);
	}
	.wt-contacts-block-mail & {
		padding-left: 40px;
	}
	.wt-contacts-block-mail &::before {
		width: 24px;
		height: 19px;
		margin-top: -9.5px;
		background-image: url(img/svg/contacts-mail.svg);
	}
}

.wt-contacts-block {
	a {
		color: inherit;
	}
	li+li {
		margin-top: 20px;
	}
}