.wt-page-head {
	padding: 30px 0 30px;
	@include breakpoint(md) {
		padding-top: 40px;
	}
}

.wt-page-title {
	h1 {
		font-size: 28px;
		line-height: 36px;
		color: $color-font-secondary;
		@include breakpoint(md) {
			font-size: 36px;
			line-height: 44px;
		}
	}
}