.wt-single .wt-content.col-md-12 {
  @include breakpoint(lg) {
    display: block;
    max-width: 960px;
    margin: {
      right: auto;
      left: auto;
    }
  }
}

.wt-single-thumbnail {
  position: relative;
  height: 150px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 5px;

  @include breakpoint(sm) {
    height: 200px;
  }
  @include breakpoint(lg) {
    height: 250px;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
  }
}

.wt-single-video {
  position: relative;
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 78, 156, 0);
    background-image: url(img/svg/play.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 102px 102px;
    opacity: 0;
    transition: 0.3s ease all;
  }
  &:hover::before {
    background-color: rgba(28, 78, 156, 0.3);
    opacity: 1;
  }
  .wt-single-thumbnail {
    margin-bottom: 0;
  }
}
