.wt-vacancies {
	padding-bottom: 40px;
	@include breakpoint(md) {
		padding-bottom: 60px;
	}
}

.wt-vacancies-head {
	font-size: 18px;
	line-height: 26px;
	background-color: #f1f1f1;
	border: 2px solid #eeeeee;
	display: block;
	padding: 15px 45px 15px 15px;
	border-radius: 10px;
	font-weight: 600;
	color: $color-font-secondary;
	margin-bottom: -5px;
	z-index: 2;
	position: relative;
	@include breakpoint(md) {
		font-size: 21px;
		line-height: 28px;
		padding: 25px 75px 25px 35px;
	}
	@include breakpoint(md) {
		font-size: 24px;
		line-height: 32px;
	}
	&::after {
		position: absolute;
		content: '';
		width: 16px;
		height: 16px;
		top: 50%;
		margin-top: -8px;
		right: 15px;
		background-image: url(img/svg/plus.svg);
		background-size: cover;
		@include breakpoint(md) {
			width: 24px;
			height: 24px;
			margin-top: -12px;
			right: 30px;
		}
	}
	&:hover::after {
		background-image: url(img/svg/plus-hover.svg);
	}
	.wt-vacancies-item.active &::after {
		background-image: url(img/svg/minus.svg);
		width: 16px;
		height: 2px;
		margin-top: -1px;
		@include breakpoint(md) {
			width: 24px;
		}
	}
	.wt-vacancies-item.active &:hover::after {
		background-image: url(img/svg/minus-hover.svg);
	}
}

.wt-vacancies-item+.wt-vacancies-item {
	margin-top: 15px;
}

.wt-vacancies-content {
	display: none;
	background-color: #f6f7f8;
	padding: 20px;
	border-radius: 0 0 10px 10px;
	margin-bottom: -5px;
	@include breakpoint(md) {
		padding: 30px;
	}
	.wt-styles {
		margin: -20px 0;
	}
}