.wt-404 {
  padding: 40px 0;
  text-align: center;

  @include breakpoint(sm) {
    padding: 60px 0;
  }

  @include breakpoint(lg) {
    padding: 80px 0;
  }

  .container {
    @include breakpoint(sm) {
      display: table;
    }
  }
}

.wt-404-image {
  margin-bottom: 10px;

  @include breakpoint(sm) {
    margin-bottom: 0;
  }

  @include breakpoint(sm) {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
  }

  img {
    width: 85px;
    height: 125px;
    display: inline-block;

    @include breakpoint(sm) {
      width: 155px;
      height: 228px;
    }

    @include breakpoint(sm) {
      width: 225px;
      height: 330px;
    }
  }
}

.wt-404-content {
  @include breakpoint(sm) {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }

  h1 {
    color: $color-font-secondary;
    font-size: 80px;

    @include breakpoint(sm) {
      margin-bottom: 10px;
    }

    @include breakpoint(lg) {
      margin-bottom: 0;
      font-size: 144px;
    }
  }

  p {
    @include breakpoint(lg) {
      font-size: 21px;
    }
  }

  a {
    margin-top: 20px;

    @include breakpoint(sm) {
      margin-top: 30px;
    }

    @include breakpoint(sm) {
      margin-top: 40px;
    }
  }
}
