.wt-sidebar-block {
	background-color: #f5f5f5;
	padding: 25px;
	border-radius: 10px;
	margin-bottom: 30px;
}

.wt-sidebar-title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	line-height: 1;
}

.wt-sidebar-description {
	margin-bottom: 20px;
	font-size: 14px;
}