.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

/* New styles */

/* Dashicons */

.dashicons-container {
	position: relative;
}

.dashicons-container .dashicons {
	position: absolute;
	top: 0;
	width: 20px;
	height: 20px;
	padding: 2px;
	display: none;
	color: #ffffff;
	background-color: #23282d;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.dashicons-container:hover .dashicons {
	display: block;
}

.dashicons-container .dashicons-edit:hover {
	color: #28c7ff;
}

.dashicons-container .dashicons-no:hover {
	color: #ff320b;
}

.dashicons-container .dashicons-edit {
	right: 25px;
}

.dashicons-container .dashicons-no {
	right: 0;
}

/* Mediafiles */

.uploaded-mediafiles {
	margin: 10px -8px;
	overflow: auto;
}

.mediafile {
	max-width: 150px;
}

.mediafile-video,
.mediafile-videos {
	max-width: 50%;
	width: auto!important;
}

/*.mediafile {
	display: inline-block;
	position: relative;
	margin-right: 20px;
	vertical-align: top;
	margin-bottom: 20px;
}

.mediafile img {
	max-width: 200px;
	background: #ffffff;
	padding: 10px;
	border: 1px solid #dddddd;
	border-radius: 3px;
}*/

/* Old styles */

.column-image img {
	max-width: 100%;
}

.wt_view-switch {
	padding-top: 0 !important;
}

.wt_view-switch-label {
	float: left;
	height: 30px;
	line-height: 28px;
	margin-right: 3px;
}

.tab-container {
	display: none;
}

.wt_theme_settings input[type=text], .wt_theme_settings textarea {
	width: 100%;
}

.wt_theme_settings .form-table img {
	max-width: 300px;
}

.wt_theme_settings .nav-tab {
	margin: 0 10px 0 0;
	border-bottom: 1px solid #cccccc;
	border-radius: 3px;
	padding: 0;
}

.wt_theme_settings .nav-tab a {
	display: block;
	color: #333333;
	text-decoration: none;
	padding: 5px 10px;
	font-weight: normal;
}

.wt_theme_settings .ui-state-active {
	background: #0085ba;
	border-color: #0073aa #006799 #006799;
}

.wt_theme_settings .ui-state-active a {
	color: #ffffff;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.wt_theme_settings .nav-tab:focus,
.wt_theme_settings .nav-tab a:focus {
	outline: none !important;
	box-shadow: none;
}

.wt_theme_settings .inside h2 {
	padding: 14px 0 8px !important;
}

.wt_theme_settings #media img {
	max-width: 300px;
	margin-top: 20px;
	background: #ffffff;
	padding: 15px;
	border: 1px solid #dddddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	border-radius: 5px;
}

.wp-core-ui .button-delete {
	background: none;
	border: none;
	border-color: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	color: #aa0000;
}

.wp-core-ui .button-delete:active,
.wp-core-ui .button-delete:focus {
	background: none;
	border-color: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: red;
}

.wp-core-ui .button-delete:hover {
	background: none;
	color: red;
	border-color: none;
}

.fileinput input {
	display: none;
}

.fileinput .filedelete {
	display: none;
}

.fileinput .filelabel {
	line-height: 28px;
	display: inline-block;
	margin-left: 10px;
}

.wt_theme_settings #extra textarea,
.wt_theme_settings #info textarea {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.wt_theme_settings #social input,
.wt_theme_settings #info input {
	width: 100%;
}

.wt_theme_settings #extra .form-table td .description {
	font-size: 13px;
}

.ti-field {
	margin: 20px 0;
}

.ti-field .view-files,
.ti-field .filelabel,
.ti-field .filedelete {
	float: left;
}

.ti-field label {
	float: left;
	width: 24%;
	font-size: 14px;
	font-weight: 600;
	padding: 6px 0;
}

.ti-text input[type=text] {
	width: 75%;
	float: left;
}

.ti-field .filedelete {
	font-size: 21px;
	font-weight: 600;
	margin: 6px 10px;
	cursor: pointer;
	color: #aa0000;
}

.ti-image img,
.ti-images img {
	max-width: 200px;
	background: #ffffff;
	padding: 10px;
	border: 1px solid #dddddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	border-radius: 3px;
}

.ti-image .file,
.ti-images .files {
	margin-top: 30px;
}

.ti-image .file,
.ti-images .file {
	display: inline-block;
	position: relative;
	margin-right: 20px;
	vertical-align: top;
	margin-bottom: 20px;
}

.ti-image .file .viewdelete,
.ti-images .file .viewdelete {
	position: absolute;
	cursor: pointer;
	top: -10px;
	right: -10px;
	font-size: 21px;
	font-weight: 600;
	background: #ffffff;
	width: 21px;
	text-align: center;
	line-height: 20px;
	height: 21px;
	border-radius: 50%;
	background-color: white;
	border: 1px solid #dddddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
}

.ti-file .file,
.ti-files .file {
	padding: 5px 0;
}

.ti-file .filelink,
.ti-files .filelink {
	color: #323232;
	display: inline-block;
	margin-right: 15px;
}

.ti-file .file-actions,
.ti-files .file-actions {
	margin-bottom: 20px;
}

.ti-videos .file {
	display: inline-block;
	position: relative;
	margin-top: 45px;
	background: #ffffff;
	padding: 10px;
	border: 1px solid #dddddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	border-radius: 3px;
}

.ti-videos .file .viewdelete {
	position: absolute;
	z-index: 99;
	cursor: pointer;
	top: -10px;
	right: -10px;
	font-size: 21px;
	font-weight: 600;
	background: #ffffff;
	width: 21px;
	text-align: center;
	line-height: 20px;
	height: 21px;
	border-radius: 50%;
	background-color: white;
	border: 1px solid #dddddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
}

.ti-rating label {
	width: auto !important;
}

.ti-rating > label {
	margin-right: 20px;
}

.viewdelete {
	color: #aa0000;
	cursor: pointer;
}

.viewdelete:hover {
	color: red;
}

.testimonials .inside {
	margin-top: 10px !important;
}

.field-testimonials {
	margin: 10px 0 20px;
}

.field-testimonials h4 {
	margin: 0 0 10px;
}

.field-testimonials select,
.field-testimonials input[type=text] {
	width: 28%;
	height: 30px;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.field-testimonials select {
	width: 20%;
}

.field-delete {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #aa0000;
	cursor: pointer;
}

.field-delete:hover {
	color: red;
}

.albums select {
	margin: 0 10px 0 5px;
	width: 30%;
}

@media screen and (max-width: 782px) {
	.ti-text input {
		width: 100%;
	}

	.ti-field label {
		width: 100%;
		margin-bottom: 8px;
	}

	.ti-image img,
	.ti-images img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}
}