@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/fira-sans-regular.woff') format('woff'), url('fonts/fira-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/fira-sans-italic.woff') format('woff'), url('fonts/fira-sans-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/fira-sans-500.woff') format('woff'), url('fonts/fira-sans-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/fira-sans-500italic.woff') format('woff'), url('fonts/fira-sans-500italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/fira-sans-600.woff') format('woff'), url('fonts/fira-sans-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/fira-sans-600italic.woff') format('woff'), url('fonts/fira-sans-600italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
