html {
  box-sizing: border-box;
  font-size: 16px;
  @include breakpoint(lg) {
    font-size: 18px;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: $font-main, $font-stack;
  font-size: 16px;
  color: $color-font-main;
  line-height: 1.5;
}

body {
  min-width: 320px;
}

a, input, select {
  transition: all 0.3s ease;
}

select {
  cursor: pointer;
}

@include responsive-default();

@media (max-width: $xs-max) {
  @include responsive-display(visible, xs);
  @include responsive-hide(hidden, xs);
}

@media (min-width: $sm) and (max-width: $sm-max) {
  @include responsive-display(visible, sm);
  @include responsive-hide(hidden, sm);
}

@media (max-width: $sm-max) {
  @include responsive-display(visible, touch);
  @include responsive-hide(hidden, touch);
}

@media (min-width: $md) {
  @include responsive-display(visible, desktop);
  @include responsive-hide(hidden, desktop);
}

@media (min-width: $md) and (max-width: $md-max) {
  @include responsive-display(visible, md);
  @include responsive-hide(hidden, md);
}

@media (min-width: $lg) {
  @include responsive-display(visible, lg);
  @include responsive-hide(hidden, lg);
}

[class*='-row '],
[class$='-row'] {
  @include grid-row;
}

[class*='-col '],
[class$='-col'] {
  @include grid-col;
}

@include grid-align(left);
@include grid-align(center);
@include grid-align(right);

@include breakpoint(mobile) {
  @include create-grid(xs);
  .col-xs-2-4 {
    width: 20%;
  }
}

@include breakpoint(sm) {
  @include create-grid(sm);
  .col-sm-2-4 {
    width: 20%;
  }
}

@include breakpoint(md) {
  @include create-grid(md);
  .col-md-2-4 {
    width: 20%;
  }
}

@include breakpoint(lg) {
  @include create-grid(lg);
  .col-lg-2-4 {
    width: 20%;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: $container-padding;
  padding-left: $container-padding;
  max-width: 100%;
  @include clearfix;
  @include breakpoint(xs) {
    width: 540px;
  }
  @include breakpoint(sm) {
    width: 750px;
  }
  @include breakpoint(md) {
    width: 970px;
  }
  @include breakpoint(lg) {
    width: 1200px;
  }
}

ul {
  li {
    list-style: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  font-weight: 700;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix {
  @include clearfix;
}

a {
  text-decoration: none;
}

#wpadminbar {
  position: fixed !important;
}

.wpcf7-response-output,
.wpcf7-not-valid-tip {
  display: none !important;
}

.wpcf7-not-valid {
  background: #ffcccc !important;
  border: 2px solid #ffcccc !important;
  color: #323232 !important;
  @include placeholder {
    color: #ff1111 !important;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.table-responsive {
  width: 100%;
  overflow-y: hidden;
}

body div.wpcf7 .ajax-loader {
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  background-image: url(img/svg/preloader.svg);
  background-size: cover;
}

.text-blue {
  color: $color-font-secondary;
}

.text-red {
  color: $color-font-red;
}

.text-yellow {
  color: $color-font-yellow;
}

.wt-main {
  position: relative;
}

.wt-top {
  @include breakpoint(0, 991px) {
    display: none !important;
  }
  opacity: 0;
  position: fixed;
  bottom: -40px;
  right: 15px;
  z-index: 999;
  transition: bottom .3s ease, opacity .3s ease;
  &-flying {
    bottom: 55px;
    opacity: 1;
  }
  &-caught {
    position: absolute;
    bottom: -20px;
  }
  a {
    position: relative;
    display: block;
    width: 50px;
    height: 40px;
    background: rgb(242, 202, 16);
    background: -moz-linear-gradient(top, rgba(242, 202, 16, 1) 0%, rgba(238, 173, 11, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(242, 202, 16, 1) 0%, rgba(238, 173, 11, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 202, 16, 1) 0%, rgba(238, 173, 11, 1) 100%);
    border-radius: 10px;
  }
  a:active {
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
  }
  a:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 14px;
    background-image: url(img/svg/top.svg);
    top: 50%;
    margin-top: -7px;
    left: 50%;
    margin-left: -10px;
  }
}

.wt-callback {
  @include breakpoint(992px, 0) {
    display: none !important;
  }
  position: fixed;
  right: 20px;
  bottom: -50px;
  z-index: 100;
  transition: bottom .3s ease;
  &-active {
    bottom: 20px;
  }
  a {
    display: block;
    text-align: center;
    color: $color-font-main;
    width: 70px;
    height: 70px;
    background-color: $color-font-yellow;
    background-color: rgba($color-font-yellow, 0.9);
    background-image: url(img/svg/telephone.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 35px 35px;
    border-radius: 50%;
  }
}

.wt-callback-animate {
  animation-name: shake;
  animation-duration: 8s;
  animation-timing-function: cubic-bezier(.36,.07,.19,.97);
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes shake {
  10%, 50% {
    transform: translate3d(-1px, 0, 0);
  }

  15%, 45% {
    transform: translate3d(1px, 0, 0);
  }

  20%, 30%, 40% {
    transform: translate3d(-2px, 0, 0);
  }

  25%, 35% {
    transform: translate3d(2px, 0, 0);
  }
}

.fancybox-slide--video .fancybox-content {
  width: 800px !important;
  height: 200px !important;
  max-width: 90% !important;
  max-height: 90% !important;
  @include breakpoint(sm) {
    height: 365px !important;
  }
  @include breakpoint(md) {
    height: 460px !important;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.table-full {
  @include breakpoint(0,991px) {
    position: relative;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
  }
}