// Шрифты
$font-stack: ( 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif, );
$font-main: 'Fira Sans';

// Цвета
$color-font-main: #252525;
$color-font-green: #5bc551;
$color-font-secondary: #1c4e9c;
$color-font-yellow: #f2c810;
$color-font-red: #ff1111;

// Адаптивное меню
$side-menu-background: #f7f7f7;
$side-menu-width: 300px;

// Модальные окна
$modal-width: 450px;

// Контрольные точки
$xs: 576px !default;
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1600px !default;
$xs-max: ($sm - 1);
$sm-max: ($md - 1);
$md-max: ($lg - 1);

// Сетка
$grid-columns: 12;
$grid-space-width: 30px;
$grid-space-bottom: $grid-space-width;

// Контейнер
$container-padding: 15px;

// Шапка сайта
$header-top-background: #f5f5f5;

// Подвал сайта
$footer-navigation-background: #f5f5f5;
$footer-bottom-background: #272727;

// Шапка страницы
$page-head-background: #f5f5f5;

// Страница
$page-padding-xs: 40px;
$page-padding-md: 60px;